[Unit]
Description=Boardswarm server

[Service]
Environment="RUST_LOG=info"
ExecStart=/usr/local/bin/boardswarm /etc/boardswarm/server.conf
Type=simple
DynamicUser=yes
StateDirectory=boardswarm
ProtectHome=true
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
