[package]
name = "boardswarm"
version = "0.0.1"
edition = "2021"
authors = ["Sjoerd Simons <sjoerd@collabora.com>"]
license = "MIT OR Apache-2.0"
description = "Boardswarm server"
repository = "https://github.com/boardswarm/boardswarm"
readme = "README.md"

[dependencies]
anyhow = "1.0.68"
async-trait = "0.1.74"
bytes = "1.4.0"
clap = { version = "~4.5.1", features = ["derive"] }
futures = "0.3.25"
humantime-serde = "1.1.1"
pdudaemon-client = "0.1.0"
boardswarm-protocol = { version = "0.0.1", path = "../boardswarm-protocol" }
serde = { version = "1.0.189", features = ["derive"] }
serde_yaml = "0.9.25"
thiserror = "1.0.40"
tokio = { version = "1.30.0", features = ["full"] }
tokio-serial = "5.4.4"
tokio-udev = "0.9"
tokio-util = "0.7.4"
tonic = "0.10"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = "2.4.1"
erased-serde = "0.3.24"
tokio-stream = { version = "0.1.11", features = ["sync"] }
dfu-libusb = "0.5.0"
rusb = "0.9.1"
boardswarm-client = { version = "0.0.1", path = "../boardswarm-client" }
tokio-gpiod = "0.2.3"
rockusb = "0.1.3"
jwt-authorizer = { version = "0.12", features = [ "tonic" ] }
axum = "0.6.18"
axum-server = { version = "0.5.1", features = ["tls-rustls"] }
