[package]
name = "boardswarm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.68"
async-trait = "0.1.60"
bytes = "1.3.0"
clap = { version = "4.0.32", features = ["derive"] }
futures = "0.3.25"
humantime-serde = "1.1.1"
pdudaemon-client = { version = "0.1.0", path = "../pdudaemon-client" }
boardswarm-protocol = { version = "0.1.0", path = "../boardswarm-protocol" }
serde = { version = "1.0.152", features = ["derive"] }
serde_yaml = "0.9.16"
thiserror = "1.0.38"
tokio = { version = "1.23.0", features = ["full"] }
tokio-serial = "5.4.4"
tokio-udev = { version = "0.7.0", git = "https://github.com/sjoerdsimons/tokio-udev", branch = "udev-0.7" }
tokio-util = "0.7.4"
tonic = "0.8.3"
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
url = "2.3.1"
erased-serde = "0.3.24"
tokio-stream = { version = "0.1.11", features = ["sync"] }
dfu-libusb = "0.5.0"
rusb = "0.9.1"
boardswarm-cli = { version = "0.1.0", path = "../boardswarm-cli" }
tokio-gpiod = "0.2.3"
rockusb = "0.1.1"
